---
import BaseHead from "@components/baseHead.astro"
---

<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="w-full h-full flex justify-center items-center font-display">
		<div class="bg-red-500">
			Last.FM
		</div>
	</body>
</html>
