---
import BaseHead from "@components/baseHead.astro"
import LastFM from "@components/lastfm.astro"
---

<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="m-0 p-0 w-svw h-svh flex justify-center items-center font-display">
		<LastFM 
			lastfmApiKey="e1f7f832dee91f81142babf6386fc5c3"
			lastfmUsername="Frisk_Dreemurr"/>
	</body>
</html>
